ul {
  list-style-type: none;
}

* {
  border: 1px red dashed;
  min-height: 10px;
  box-sizing: border-box;
  margin: 5px;
  padding: 0px;
  overflow: auto;
}

#root {
  background: green;
}

.modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: block; 
  height: 100%; 
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 100px; 
  position: fixed; 
  top: 0;
  width: 100%; 
  z-index: 1; 
}

.modal-content {
  bottom: 0;
  left: 0;
  margin: 0;
  right: 0;
  top: 0;
}

.event {
  background: white;
  border-left: 10px solid green;
  border-radius: 10px;
  box-shadow: 3px 3px 2px #BBBBBB;
  max-width: 500px;
  padding: 10px;
}

.event:not(first-child) {
  margin-top: 7px;
}

.event-name {
  display: inline-block;
  font-weight: 800;
  margin-right: 100px;
  white-space: nowrap;
}
.event-time {
  display: inline-block;
  font-style: italic;
}


/* The Close Button */
.close {
  z-index: 1;
  color: #666666;
  float: right;
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
}

.close:hover,
.close:focus {
  color: green;
  cursor: pointer;
  text-decoration: none;
}

.event-label {
  font-weight: 600;
}

.event-value {
  background: green;
  margin: 0;
  padding: 0;
}

.event-list {
  background: #222;
}

