ul {
  list-style-type: none;
}

.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.event {
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 3px 3px 2px #BBBBBB;
  border-left: 10px solid green;
}

.event:not(first-child) {
  margin-top: 7px;
}

/* The Close Button */
.close {
  color: #666666;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: green;
  text-decoration: none;
  cursor: pointer;
}

.event-label {
  font-weight: 600;
}

