$root-bg: #FFFFFF;
$primary-bg: #15B5EA;
$primary-fg: $root-bg;
$header-bg: #1091BC;
$footer-bg: $header-bg;
$modal-bg: white;
$modal-fg: black;
$button-bg: $footer-bg;
$mobile-size: 800px;

$my-sans-font: "Open Sans", sans-serif;

@mixin rounded-corner-all($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-full-screen() {
  position: fixed;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
}

@mixin box-center() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px red dotted;
}

.button {
  @include rounded-corner-all(5px);
  display: inline-block;
  color: $primary-fg;
  border: 1px $primary-fg solid;
  text-align: center;
  width: 50px;
  height: 40px;
  line-height: 36px; // vertically center the icon in the button
  font-size: 1.2rem;
  margin-right: 20px;
  &:hover {
    background-color: lighten($button-bg, 20%); 
  }
  .tooltip-text {
    padding: 0;
    line-height: 30px;
    font-size: 0.8rem;
  }
}

a {
  text-decoration: none;
  &:visited {
    color: $primary-fg;
  }
  &:hover {
  text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

html, body {
  height: 100%;
  color: $primary-fg;
}

#root {
  height: 100%;
  font: 100%  $my-sans-font;
}

.container {
  position: relative;
  min-height: 100%;
}

#menu-button {
  position: absolute;
  left: 20px;
  top: 56px;
  z-index:1;
}

header {
  position: relative;
  width: 100%;
  background-color: $header-bg;
  height: 120px;

  h1 {
    width: 400px;
    position: absolute;
    left: 120px;
    bottom: 25px;
    text-shadow:#e0e0e0 1px 1px 0;
    opacity: 0.9;
    @media (max-width: $mobile-size) {
      left: 90px;
      font-size: 1.4rem;
    }
  }

}

nav {
  background-color: darken($primary-bg, 15%);
  width: 200px;
  color: $primary-fg;
  ul {
    margin-top: 31px;
    .nav-button {
      line-height: 50px;
      font-size: 1.1rem;
      height: 50px;
      padding-left: 15px;
      &:hover {
        background-color: lighten($primary-bg, 5%);
      }
    }
  }
}

main {
  padding: 30px 0 270px 0; // footer hack

  @media (min-width: $mobile-size) {
    & {
      padding-bottom: 150px;
    }
  }
}

footer {
  position: absolute; // footer hack
  bottom: 0; // footer hack
  width: 100%;
  background-color: $footer-bg;
  min-height: 220px;
  padding: 20px 5px 20px 20px;

  @media (min-width: $mobile-size) {
    & {
      min-height: 120px;
    }
  }

  &>p {
    padding-left: 10px;
    margin-left: 75px;
    border-left: 1px $primary-fg solid;
    font-size: .8rem;
  }

  #react-logo {
    float: left;
    img {
      width: 60px;
    }
    .react-text {
      visibility: hidden;
      text-align: center;
      font-size: 0.8rem;
    }
    &:hover .react-text {
      visibility: visible;
    }
  }

}

.event-list {
  width: 100%;
  @media (min-width: $mobile-size) {
    & {
      width: $mobile-size;
      margin: auto;
    }
  }

  .event {
    @include rounded-corner-all;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px 30px 20px 30px;
    background-color: $primary-bg;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:hover {
      background-color: lighten($primary-bg, 20%);
    }

    .event-name {
      white-space: nowrap;
      overflow: hidden;
      margin: 0 0 10px 0;
      font-size: 1.3rem;
      font-weight: 700;
    }

    .event-time {
      font-size: 1.1rem;
    }
  }
}

.event-card {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);

  .modal-body {
    @include rounded-corner-all(10px);
    @include box-center;
    background-color: $primary-bg;
    padding: 0px;
    margin: auto;
    width: $mobile-size;
    @media (max-width: $mobile-size) {
      & {
        width: 100%;
      }
    }

    .modal-close {
      font-size: 2rem;
      position: absolute;
      right: 26px;
      top: 16px;
      color: darken($primary-fg, 20%);
      &:hover {
      color: $primary-fg;
      }
    }

    .event-header {
      padding: 15px 20px 15px 20px;
      height: 90px;

      .event-name {
        margin-bottom: 5px;
        @media (max-width: $mobile-size) {
          & {
            overflow: hidden;
            max-width: 300px;
          }
        }
      }
      .event-time {
      }
    }

    .event-footer {
      height: 90px;
      ul {
        float: right;
        margin-top: 20px;
        margin-right: 20px;
      }
    }

    .event-content {
      font-size: 1.1rem;
      padding: 10px 20px 10px 20px;
      margin: 0;
      background-color: $modal-bg;
    }

    .event-attribute {
      &:not(:first-child) {
        margin-top: 16px;
      }
      p {
        color: $modal-fg;
      }
      .event-label {
        font-weight: 700;
      }
    }
  }
}

