$root-bg: #FFFFFF;
$primary-bg: #15B5EA;
$primary-fg: $root-bg;
$header-bg: #1091BC;
$footer-bg: $header-bg;
$modal-bg: white;
$modal-fg: black;
$button-bg: $footer-bg;

$my-sans-font: "Open Sans", sans-serif;

@mixin rounded-corner-all($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-full-screen() {
  position: fixed;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
}

@mixin box-center() {
  position: fixed;
  top: 50%;
  left: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

#root {
  font: 100%  $my-sans-font;
  min-height: 100%;
  position: relative;
}

header {
  width: 100%;
  background-color: $header-bg;
  height: 120px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $footer-bg;
  height: 120px;
}

main {
  min-height: 100%;
  padding-bottom: 120px;
}

.event-list {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  @media (min-width: 920px) {
    & {
      width: 600px;
      margin: auto;
    }
  }

  .event {
    @include rounded-corner-all;
    padding: 20px 30px 20px 30px;
    background-color: $primary-bg;
    color: $primary-fg;
    margin: 0px 5px 0px 5px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:hover {
      background-color: lighten($primary-bg, 20%);
    }

    .event-name {
      margin: 0 0 10px 0;
      font-size: 1.3rem;
      font-weight: 700;
    }

    .event-time {
      font-size: 1.1rem;
    }
  }
}

.modal {
  @include box-full-screen();
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;

  .modal-body {
    @include rounded-corner-all(10px);
    @include box-center;
    background-color: $primary-bg;
    padding: 0px;
    margin: auto;
    width: 100%;

    @media (min-width: 920px) {
      & {
        width: 500px;
      }
    }

    .modal-close {
      font-size: 2rem;
      position: absolute;
      right: 26px;
      top: 16px;
      color: darken($primary-fg, 20%);
      &:hover {
      color: $primary-fg;
      }
    }

    .modal-header {
      padding: 15px 20px 15px 20px;
      .event-name {
        margin-bottom: 5px;
      }
      .event-time {
      }
    }

    .modal-footer {
      position: relative;
      height: 80px;
      ul {
        position: absolute;
        right: 20px;
        top: 20px;
        .event-button {
          display: inline-block;
          width: 60px;
          text-align: center;
          padding: 5px 20px 5px 20px;
          margin-left: 20px;
          @include rounded-corner-all(5px);
          color: $primary-fg;
          border: 1px $primary-fg solid;
          //background-color: $button-bg;
          &:hover {
            background-color: lighten($primary-bg, 20%);
          }
        }
      }
    }

    .modal-content {
      @include rounded-corner-all(0px);
      font-size: 1.1rem;
      padding: 10px 20px 10px 20px;
      margin: 0;
      background-color: $modal-bg;
      color: $modal-fg;
    }

    .event-attribute {
      &:not(:first-child) {
        margin-top: 16px;
      }
      .event-label {
        font-weight: 700;
      }
    }
  }
}

