* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px red dotted;
}

a {
  text-decoration: none;
  &:visited {
    color: $primary-fg;
  }
  &:hover {
  text-decoration: underline;
  }
}

ul {
  list-style-type: none;
}

html, body {
  color: $primary-fg;
  height: 100%;
}

#root {
  font: 100%  $my-sans-font;
  border: 1px red dashed;
}

.container {
  position: relative;
  min-height: 100% !important;
  border: 3px red dotted;
}

.small-text {
  font-size: 0.8rem;
}

input {
  height: 22px;
}

